html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Cantarell';
    margin-bottom: 100px;
    clear: both;
}

element.style {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  background-color: rgb(82, 86, 89);
}